@model IEnumerable<MvcOneMore.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojDokumenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ukupno)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrojDokumenta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ID=item.ID }) |
            @Html.ActionLink("Details", "Details", new { ID=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { ID=item.ID })
        </td>
    </tr>
}

</table>
